/* common start */
/* tr, td, body {	font-family:'Apple SD Gothic Neo',Malgun Gothic,"굴림";font-size: 9pt;	color: #444444;	line-height: 19px;} */

a {
	text-decoration-line: none;
}

/* common end */


/* book start */
/* 간격 조정 */
.header {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 15%;
	margin-right: 15%;
}

.logo_icon {
	display: inline-block /* 같은 라인에 배치 end */
}

.logo_img {
	width: 25% 
}

nav {
	display: inline-block; /* 같은 라인에 배치 end */
	float: right; /* 우측정렬 */
}

li {
	display: inline-block /* 같은 라인에 배치 end */
}

.headertop a{
	color: gray;
	font-size: 17px;
}

.headerbottom a{
	color: white;
	font-size: 23px;
}

.headerbottom {
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 15%;
}
  
.headerbottom li {
	padding: 8px 30px;
	background-color: #00468B;
	
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 5px;
	margin-right: 5px;

	/* 모서리를 둥글게 */
	border-radius: 20%;
}

/* book end */

/* user start */
.user_toparea{
	margin:6% auto;
	width:300px; 
	height:100px; 
	/* background-color: rgb(255,153,0); */
	
	/* margin-top: 2%;
	margin-bottom: 5%;
	margin-left: 15%;
	margin-right: 15%; */
	/* text-align: center; */
}

.h1_login{
	text-align: center;
}
.btn_logins {
	text-align: center;
}

.btn_login {
	display :inline-block;
}

.btn_cancel {
	display :inline-block;
}

.logo_img_user {
	width: 50%; 
}

.section-logo{
	text-align: center;
}

.section-title{
	text-align: left;
}

.user_formarea{
	margin:0 auto;
	width:300px; 
	height:100px;
	background-color: skyblue;
}




/* user end */