<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>베스트셀러</title>
</head>
<body>
    취향에 더 가까운 책 추천받기 -> 
    <a href="{% url 'users:signup' %}">회원가입</a>
    <a href="{% url 'users:login' %}">로그인</a>
    <h1>베스트셀러</h1>
    {% for book in page_obj %}
        <a href="{% url 'book:detail' pk=book.pk %}"><img src ="{{ book.cover_image.url }}" alt="표지정보가 없습니다" width="195px" height="345px"/></a>
        책제목
        지은이/출판사
        <br/>
    {% endfor %}
    <!-- 페이징 -->
    {% include 'book/_paging.html' %}
</body>
</html>