<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추천도서목록</title>
</head>
<body>
    <h1>추천도서목록</h1>
    {% for book in page_obj %}
    <a href="{% url 'book:detail' pk=book.pk %}"><img src ="{{ book.cover_image.url }}" alt="표지정보가 없습니다" width="195px" height="345px"/></a>
        책제목
        지은이/출판사
        <a href="{% url 'book:create_review' pk=book.pk %}">리뷰작성</a>
        <br/>
    {% endfor %}
    <!-- 페이징 -->
    {% include 'book/_paging.html' %}
</body>
</html>